@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --primary-color: #447ebc;
  --dark-color: #7f7a85;
  --light-color: #f4f4f4;
  --lose-color: #fc0404;
  --wine-color: #a4cc8c;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
  background: #e5e9f5;
  color: #7f7a85;
}
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  text-align: center;
}
.restart-btn {
  display: none;
  background: var(--light-color);
  color: #7f7a85;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  margin-bottom: 1rem;
}
.restart-btn:hover {
  background: var(--primary-color);
  color: #f4f4f4;
}
.header {
  text-align: center;
  margin: 1rem 0;
}

.header h1 {
  margin-bottom: 1rem;
}

.score {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 1.2rem;
  color: #f4f4f4;
}
.score p:first-child {
  background: var(--primary-color);
}
.score p:last-child {
  background: var(--dark-color);
}
.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  text-align: center;
  font-size: 10em;
}
.choice {
  cursor: pointer;
}
.choice:hover {
  color: #8abcf6;
}
.text-win {
  color: var(--wine-color);
}
.text-lose {
  color: var(--lose-color);
}
@media (max-width: 700px) {
  .choice {
    font-size: 110px;
  }
}
@media (max-width: 500px) {
  .choice {
    font-size: 80px;
  }
}
